/* code-block-display/src/css/clipboard.css */

.code-block-display-container {
    position: relative;
}

.code-block-display-clipboard-button {
    position: absolute;
    display: none;
    top: 4px;
    right: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: gold;
    background-color: rebeccapurple;
    width: 58px;
    text-align: center;
    padding: 2px 0;
    z-index: 20;
    margin: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.code-block-display-buttons {
    position: absolute;
    right: 34px;
    top: 0px;
}

.code-block-display-container:hover .code-block-display-clipboard-button {
    display: block;
    white-space-collapse: collapse;
}

.code-block-display-fold-button {
    right: 72px;
    width: 58px;
    white-space-collapse: collapse;
}

.code-block-display-clipboard-button.copied .code-block-display-clipboard-copied {
    display: inline-block;
}

.code-block-display-clipboard-button.copied .code-block-display-clipboard-copy {
    display: none;
}

.code-block-display-clipboard-button .code-block-display-clipboard-copied {
    display: none;
}

.code-block-display-clipboard-button .code-block-display-clipboard-copy {
    display: inline-block;
}


.code-block-display-fold-button {
    position: absolute;
    display: none;
    top: 4px;
    right: 72px;
    cursor: pointer;
    font-size: 12px;
    color: gold;
    background-color: rebeccapurple;
    font-weight: bold;
    width: 58px;
    text-align: center;
    padding: 2px 0;
    z-index: 20;
    margin: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.code-block-display-container:hover .code-block-display-fold-button {
    display: block;
    white-space-collapse: collapse;
}

/* When folded, hide the highlighted content */
.code-block-display-fold-hidden {
    display: none !important;
}

.code-block-display-fold-button.folded .code-block-display-folded {
    display: inline-block;
}

.code-block-display-fold-button.folded .code-block-display-fold {
    display: none;
}

.code-block-display-fold-button .code-block-display-folded {
    display: none;
}

.code-block-display-fold-button .code-block-display-fold {
    display: inline-block;
}