/* code-block-display/src/css/clipboard-hide.css */

.code-block-display-container:hover .code-block-display-clipboard-button {
    display: none;
}

.code-block-display-clipboard-button.copied .code-block-display-clipboard-copied {
    display: none;
}

.code-block-display-clipboard-button .code-block-display-clipboard-copy {
    display: none;
}

.code-block-display-container:hover .code-block-display-fold-button {
    display: none;
}

.code-block-display-fold-button.folded .code-block-display-folded {
    display: none;
}

.code-block-display-fold-button .code-block-display-fold {
    display: none;
}